@CHARSET "UTF-8";

.paddingZero{
    padding: 0px;
}

.topbar_Sty {
  height: 50px;
  border-bottom: 1px solid #c1c1c1;
  background: #fff;
}

.topbar_Menu_Sty{
	 list-style: none;
	 padding : 15px;
}

.topbar_Menu_box{
	 margin-left: 10px;
}

a {
  color: #000000;
  text-decoration: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #E68282;
}

.searchEntireDiv{
	background: #dcdcdc;
}

.search_bar{
    padding-top: 15px;
	padding-bottom: 15px;
	/* border: 1px solid #FFDCDC; */
}

.search_select_sty {
	border: 1px solid #b6c4d0;
 	color: #88969b;
	width : 110px;
	height : 40px;
}

.search_btn_sty {
	width : 100px;
	height : 40px;
	
	border-color: #E68282;
	background-color: #E68282;
	color: #fff;
}

.menuDiv{
	margin-top : 25px;
}

.favorDiv{
	padding: 0px;
	margin : 30px 0px 30px 0px;
}
.favorInDiv{
	padding: 0px;
	width : 100%;
	height : 100%;
}
.favorBox{
	width : 48%;
	height : 500px;
	border : 1px solid #c1c1c1;
	margin : 0px 10px 30px 10px;
	padding: 30px 15px;
}

.bottombar_sty{
	margin-top: 50px;
	height: 50px;
	border-top: 1px solid #c1c1c1;
}

.areaMenu_Div{
	width: 100%;
	height: 1000px;
	margin-top: 15px;
}

.local_section_tab li {
	width: 106px;
	height: 50px;
	border-right: 1px solid #fbfafa;
	background-color: #e1e1e1;
	text-align: center;
	color: #646464;
	vertical-align: middle;
	line-height: 50px;
	float: left;
}

.local_section_tab li.active {
  width: 106px;
  height: 50px;
  background: #FFE4E1;
}

li {
  list-style: none;
}

.local_result_view{
	border-top: 1px solid #c1c1c1;
	margin-top: 60px;
}

.thema_section_tab li {
	width: 106px;
	height: 50px;
	border-right: 1px solid #fbfafa;
	background-color: #e1e1e1;
	text-align: center;
	color: #646464;
	vertical-align: middle;
	line-height: 50px;
	float: left;
}

.thema_section_tab li.active {
  width: 106px;
  height: 50px;
  background: #FFE4E1;
}

.thema_result_view{
	border-top: 1px solid #c1c1c1;
	margin-top: 60px;
}

.pensionInfo_Div{
	margin-top: 20px;
	padding: 20px;
	border : 1px solid #c1c1c1;
}

.tbl_usecal th, .tbl_usecal td {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.tbl_usecal th {
  width: 50px;
  height: 30px;
  background: #7d7d7d;
  color: #fff;
  font-size: 11px;
  font-weight: normal;
  text-align: center;
}

.tbl_usecal td {
  height: 50px;
  text-align: center;
  background: #fff;
  color: #a0a0a0;
}

.tbl_usecal th.cell_red {
  background: #cd3937;
}

.tbl_usecal th.cell_blue {
  background: #4875c0;
}

.tbl_usecal td.cell_gary {
  background: #eeeeee;
  color: #a0a0a0;
}

.tbl_usecal td.cell_orange {
  background: #739fe8;
  color: #fff;
}

.tbl_usecal td.cell_hotpink {
  background: #e86563;
  color: #fff;
}

.section_pensionRoom{
	padding: 50px;
	margin-bottom: 25px;
}

.section_pensionRoom tr, .section_pensionRoom th,.section_pensionRoom td{
	padding: 10px;
	margin: 30px;
	border: 1px solid #a0a0a0;
	text-align: center;
	
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #646464;
  cursor: default;
  background-color: #FFE4E1;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}


.tbl_join th{
  padding: 7px 0 8px 20px;
  height: 29px;
  border: 1px solid #dedede;
  background: #f2f2f2;
  color: #262626;
  text-align: left;
}

.tbl_join td {
  padding: 8px 20px 12px;
  height: 24px;
  border: 1px solid #dedede;
}

.join_btn, .login_btn{
	width : 100px;
	height : 40px;
	border-color: #E68282;
	background-color: #E68282;
	color: #fff;
}

.joinDiv, .loginDiv{
	margin-top:30px;
}

.login_join_text:focus, .login_join_text:hover {
  color: #23527c;
  text-decoration: underline;
  cursor: auto;
}

.loginDiv td {
	padding: 40px;
}

.loginDiv table{
	margin-top:30px;
	border-color: #dedede;
}

.local_list_Box li {
  position: relative;
  float: left;
  margin: 35px 0 0 16px;
  width: 300px;
  height: 400px;
  background: #fff;
  border: 1px solid #dedede;
  
}

.pension_list_info{
	padding: 10px;
}

.pensionInfo_info{
	padding : 30px;
}

.reservation_btn {
	width : 100px;
	height : 40px;
	border-color: #E68282;
	background-color: #E68282;
	color: #fff;
	margin: 100px;
}

.reservation_List_Table th{
  padding: 7px 0 8px 20px;
  height: 29px;
  border: 1px solid #dedede;
  background: #f2f2f2;
  color: #262626;
  text-align: left;
}

.reservation_List_Table td {
  padding: 8px 20px 12px;
  height: 24px;
  border: 1px solid #dedede;
}

.main_local_photo, .main_local_info{
	padding-top : 50px;
}

.recommend_list {
	width: 20%;
	height: 200px;
	border: 1px solid #dedede;
	background: #f2f2f2;
	color: #262626;
	text-align: left;
}

.recommend_Div {
	margin-left: 118px;
}

.search_margin{
	margin-right: 15px;
}

.search_label_margin{
	margin-right: 5px;
}
